.Menu{
  /* оранжевый */
  background-color: #F4A900;
}
.nav{
  /* оранжевый */
  background: rgba(244, 169, 0, 0.75);
}
.nav > a{
  color: black;
}
/* Фон, цвет и размер текста в футере */
footer > div> p{
  color: white;
  font-size: 15px;
}
footer > div > h2{
  color: white;
  font-size: 20px;
}
footer > div{
  background-color: black;
}
body{
  /* телесный цвет */
  background-color: #FAEBD7;
}
/* Прижатие футера к низу */
body{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
  flex-grow: 1;
}
footer{
  flex-shrink: 0;
}

/* Все для футера */
footer{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
footer > div{
  flex-grow: 1;
  align-items: flex-start;
}
footer > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer{
  margin-top: 50px;
}

/* Пробел между лого и элементами из меню сверху*/
.Menu{
  display: flex;
  justify-content: space-between;
}

/* Меню, когда не бургер */
@media screen and (width >= 650px) {
  .nav{
    margin-top: 15px;
    display: flex;
    gap: 25px;
  }
  /* Расположение элементов из меню сверху по горизонтали*/
  .Menu > .Navigation > .nav > a{
    display: block;
    float: right;
    font-size: 22px;
  }

  .Menu > .Navigation > .nav > a:hover{
    background-color: black;
    color: white;
  }

  .menu-burger{
    display: none;
  }
  /* Цвет ссылок из меню сверху и отключение полосок под ними */
  .nav >  a {
    text-decoration: none;
    color: black;
    font-family: 'DM Serif Display', serif;
  }
  .Navigation{
    margin-right: 20px;
  }
}

/* Появление меню бургера */
@media screen and (width < 650px){
  .nav > a{
    font-size: 16px;
  }
  #tap {
    /* размер и видимость кнопки, к которой привязаны полоски бургера */
    width: 26px;
    height: 26px;
    opacity: 0;
  }
  #tap:checked + .menu-buttn > span {
    transform: rotate(45deg);
  }
  #tap:checked + .menu-buttn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #tap:checked + .menu-buttn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .menu-buttn {
    /* relative даст ему нулевую ширину */
    position: absolute;
    /* выталкиваем полоски меню вниз и вправо */
    top: 20px;
    /* длина полосок меню бургера */
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
  }
  .menu-buttn > span,
  .menu-buttn > span::before,
  .menu-buttn > span::after {
    display: block;
    position: absolute;
    /* ширина полосок от размера блока */
    width: 100%;
    height: 2px;
    background-color: black;
    /* кручение полосок меню */
    transition-duration: .25s;
  }
  .menu-buttn > span::before {
    content: '';
    top: -8px;
  }
  .menu-buttn > span::after {
    content: '';
    top: 8px;
  }
  /* сдвиг меню вправо */
  .Navigation > .nav {
    z-index: 1;
    display: block;
    position: fixed;
    top: 0;
    /* сдвиг меню вправо до нажатия на кнопку */
    left: 100%;
    /* ширина открытого бургера */
    width: 70%;
    margin: 0;
    /* плавное выдвижение меню */
    transition-duration: .25s;
  }
  .menu_elem {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    /* это вроде не нужно */
    transition-duration: .25s;
  }
  .menu_elem:hover{
    color: white;
  }

  .menu-buttn{
    /* место расположение полосок меню бургера (толкаем вправо) */
    left: 90%;
    margin-top: 4px;
  }
}
