.butt-del{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buy-on-credit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-grow: 3;
}

.ordering{
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid;
  border-color: white;
}
.wrapper-guitar > .cart-element{
  display: flex;
  flex-direction: row;
}
.buying{
  display: flex;
  justify-content: space-between;
}
.image-element > img{
  width: 100%;
  height: 100%;
  object-fit:scale-down;
  border-right: solid;
  border-left: solid;
  border-color: white;
}

.text_about_element{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text_about_element > div > p{
  font-size: 20px;
  margin: 10px;
}

/* кнопка оформить заказ */
.ordering > button{
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: white;
  background-color: #B00000;
}
/* кнопка купить в кредит */
.buy-on-credit > button{
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: white;
  background-color: #9ACD32;
}
.buy-on-credit > p{
  font-size: 20px;
  width: 80%;
}

.cart-element{
  outline: solid;
  outline-color: white;
  margin-bottom: 30px;
  margin-top: 2.5px;
}

.want-to-order{
  display: flex;
  flex-direction: column;
}

/* Ноутбуки, компьютеры */
@media screen and (width > 1170px) {

  .text_about_element{
    align-items: left;
    margin: 10px;
    width: 500px;
  }

  /* задание размера блока внутри которого картинка */
  .image-element{
    max-width: 200px;
    max-height: 200px;
  }

  .want-to-order{
    height: 70vh;
    width: 400px;
    border: solid;
    border-color: white;
  }

  .Empty{
    position: absolute;
    margin-top: 25vh;
    margin-left: 40vw;
    font-size: 30px;
    width: 30%;
  }
}

/* Планшеты, ноутбуки */
@media screen and (width >= 760px) and (width <= 1170px) {
  .Empty{
    position: absolute;
    margin-top: 25vh;
    margin-left: 40vw;
    font-size: 30px;
    width: 30%;
  }

  /* задание размера блока внутри которого картинка */
  .image-element{
    max-width: 200px;
    max-height: 200px;
  }

  .text_about_element{
    align-items: left;
    margin: 10px;
    width: 300px;
  }

  .want-to-order{
    height: 70vh;
    width: 400px;
    border: solid;
    border-color: white;
    margin-left: 30px;
  }

}
/* Телефоны боком */
@media screen and (width >= 480px) and (width < 760px) {
  .Empty{
    position: absolute;
    margin-top: 25vh;
    margin-left: 40vw;
    font-size: 30px;
    width: 30%;
  }

  /* задание размера блока внутри которого картинка */
  .image-element{
    max-width: 100px;
    max-height: 200px;
  }

  .text_about_element{
    align-items: left;
    margin: 0;
    width: 250px;
  }

  .want-to-order{
    height: 80vh;
    width: 300px;
    border: solid;
    border-color: white;
    margin-left: 15px;
  }

  .ordering{
    height: 250px;
  }
}
/* Телефоны вертикально */
@media screen and (width >= 320px) and (width < 480px) {
  .buying{
    display: flex;
    flex-direction: column;
  }

  .Empty{
    position: absolute;
    margin-top: 25vh;
    margin-left: 32vw;
    font-size: 30px;
    width: 30%;
  }

  /* задание размера блока внутри которого картинка */
  .image-element{
    max-width: 100px;
    max-height: 200px;
  }

  .text_about_element{
    align-items: left;
    margin: 0;
    width: 250px;
  }

  .want-to-order{
    height: 80vh;
    width: 320;
    border: solid;
    border-color: white;
    margin-left: 15px;
  }

  .ordering{
    height: 250px;
  }
  .want-to-order {
    margin-left: 0;
  }
}
