/* Поисковая строка ----------------------------------------------------------*/
  .TheSearchBar input, .searchbar {
    border: none;
    outline: none;
    background: transparent;
  }
  .TheSearchBar > form {
    z-index: 0;
  }
  .TheSearchBar > form > input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
    font-size: 20px;
  }
  .searchbar {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  .searchbar:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
  }
  .TheSearchBar{
    margin-bottom: 50px;
  }
  .TheSearchBar > form {
    position: relative;
    margin: 0 auto;
    background: #F5F5F5;
  }
/* Поисковая строка закончилась-----------------------------------------------*/

/* стиль кнопки "купить" */
.Guitars > .guitar > .buy > button{
  background: #F4A900;
  border: none;
  border-radius: 5px;
}

.Guitars > .guitar > .text-about-guitar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Guitars > .guitar > .text-about-guitar > p{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 18px;
  margin: 0;
}

.Guitars > .guitar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Фильтр с выбором числа струн ----------------------------------------------*/
/* Размер блока */
.Filters > .ChooseStrings > .Choose > fieldset > input{
  height: 15px;
}
.Filters > .ChooseStrings > .Choose > fieldset{
  border: none;
}
.Filters > .ChooseStrings{
  border-top: solid;
  border-bottom: solid;
  border-color: white;
}
/* счетчик над корзиной */
#cart_num{
  position: absolute;
  background-color: #B00000;
  border: 2px solid black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 16px;
  text-align: center;
  top: 4px;
  right: 79px;
}












/* Ноутбуки, компьютеры */
 @media screen and (width > 1170px) {
   /* длина поисковой строки */
   .TheSearchBar > form {
     width: 700px;
   }

  /* Распололжение гитар и фильтров в строку */
  .GuitarsAndFilters{
    display: flex;
    flex-direction: row;
  }

/* Ползунок с диапазоном------------------------------------------------------*/
  .wrapper{
    width: 400px;
    padding: 20px 25px 40px;
  }
  .wrapper > h2{
    font-size: 24px;
    font-weight: 600;
  }
  .price-input{
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
  }
  .price-input .field{
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
  }
  .field input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    background: #F5F5F5;
  }
  .price-input .separator{
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }
  .slider{
    height: 5px;
    position: relative;
    background: #F5F5F5;
    border-radius: 5px;
  }
  .slider .progress{
    height: 100%;
    left: 16px;
    right: 0px;
    position: absolute;
    background: #17A2B8;
  }
  .range-input{
    position: relative;
  }
  .range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -9px;
    background: none;
    pointer-events: none;
    /* без нее полоска накроется серым цветом */
    -webkit-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #17A2B8;
    /* без этого нельзя схватить ползунок */
    pointer-events: auto;
    /* без этого накроет ползунки серым фильтром */
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }

/* Ползунок с диапазоном закончился------------------------------------------ */

  .Filters > .ChooseStrings{
    padding-left: 25px;
  }
  .Filters{
    border: solid;
    border-color: white;
  }
/* Фильтр с выбором числа струн закончился------------------------------------*/

/* Настройка грид контейнера с гитарами---------------------------------------*/
  .Guitars{
    justify-content: center;
    flex-basis: 80%;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 50px;
  }

  .Guitars > .guitar{
    max-height: 400px;
    padding-top: 10px;
    padding-bottom: 10px;

    border: solid;
    border-color: white;
  }

  /* Настройка размера блока картинки */
  .Guitars > .guitar > .photo {
    max-width: 200px;
    max-height: 200px;
  }
  .Guitars > .guitar > .photo > img{
    width: 100%;
    height: 100%;
    object-fit:scale-down;
  }
/* Настройка грид контейнера с гитарами закончилас----------------------------*/

/* Настройка значка кол-ва купленных товаров над корзиной*/
  .cart__num {
    top: 5px;
    right: 80px;
  }
}

/* Планшеты, ноутбуки */
@media screen and (width >= 760px) and (width <= 1170px) {
  /* длина поисковой строки */
  .TheSearchBar > form {
    width: 600px;
  }

  /* Настройка размера блока картинки */
  .Guitars > .guitar > .photo {
    max-width: 200px;
    max-height: 200px;
  }
  .Guitars > .guitar > .photo > img{
    width: 100%;
    height: 100%;
    object-fit:scale-down;
  }
  .Guitars{
    justify-content: center;
    flex-basis: 80%;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 50px;
  }
  .Guitars > .guitar{
    max-height: 400px;
    padding-top: 10px;
    padding-bottom: 10px;

    border: solid;
    border-color: white;
  }

  /* Распололжение гитар и фильтров в строку */
  .GuitarsAndFilters{
    display: flex;
    flex-direction: column-reverse;
  }
  .Filters > .ChooseStrings > .Choose{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .Filters > .ChooseStrings {
    margin-bottom: 30px;
  }
  .Filters{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Filters > .ChooseStrings {
    width: 100%;
  }
  .Filters{
    border-top: solid;
    border-color: white;
  }

  .wrapper{
    width: 500px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
  }
  .wrapper > h2{
    font-size: 24px;
    font-weight: 600;
    align-self: center;
  }

  .price-input{
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
  }
  .price-input .field{
    display: flex;
    width: 100%;
    height: 45px;
    justify-content: center;
    align-items: center;
  }
  .field input{
    width: 30%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    background: #F5F5F5;
  }
  .price-input .separator{
    width: 80px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }
  .slider{
    height: 5px;
    position: relative;
    background: #F5F5F5;
    border-radius: 5px;
  }
  .slider .progress{
    height: 80%;
    left: 16px;
    right: 0px;
    position: absolute;
    background: #17A2B8;
  }
  .range-input{
    position: relative;
  }
  .range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -9px;
    background: none;
    pointer-events: none;
    /* без нее полоска накроется серым цветом */
    -webkit-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #17A2B8;
    /* без этого нельзя схватить ползунок */
    pointer-events: auto;
    /* без этого накроет ползунки серым фильтром */
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }
}

/* Телефоны боком */
@media screen and (width >= 480px) and (width < 760px) {
  /* длина поисковой строки */
  .TheSearchBar > form {
    width: 463px;
  }

  /* Настройка размера блока картинки */
  .Guitars > .guitar > .photo {
    max-width: 400px;
    max-height: 400px;
  }
  .Guitars > .guitar > .photo > img{
    width: 100%;
    height: 100%;
    object-fit:scale-down;
  }
  .Guitars{
    justify-content: center;
    flex-basis: 80%;
    display: grid;
    grid-gap: 50px;
  }
  .Guitars > .guitar{
    max-height: 600px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-top: 20px;

    border: solid;
    border-color: white;
  }

  /* Распололжение гитар и фильтров в строку */
  .GuitarsAndFilters{
    display: flex;
    flex-direction: column-reverse;
  }
  .Filters > .ChooseStrings > .Choose{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .Filters > .ChooseStrings {
    margin-bottom: 30px;
  }
  .Filters{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Filters > .ChooseStrings {
    width: 100%;
  }
  .Filters{
    border-top: solid;
    border-color: white;
  }
  .Guitars > .guitar > .text-about-guitar > p{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    margin: 0;
  }
  .buy > .addtobasket{
    font-size: 20px;
  }
  .wrapper{
    width: 400px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
  }
  .wrapper > h2{
    font-size: 24px;
    font-weight: 600;
    align-self: center;
  }

  .price-input{
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
  }
  .price-input .field{
    display: flex;
    width: 100%;
    height: 45px;
    justify-content: center;
    align-items: center;
  }
  .field input{
    width: 30%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    background: #F5F5F5;
  }
  .price-input .separator{
    width: 80px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }
  .slider{
    height: 5px;
    position: relative;
    background: #F5F5F5;
    border-radius: 5px;
  }
  .slider .progress{
    height: 80%;
    left: 16px;
    right: 0px;
    position: absolute;
    background: #17A2B8;
  }
  .range-input{
    position: relative;
  }
  .range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -9px;
    background: none;
    pointer-events: none;
    /* без нее полоска накроется серым цветом */
    -webkit-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #17A2B8;
    /* без этого нельзя схватить ползунок */
    pointer-events: auto;
    /* без этого накроет ползунки серым фильтром */
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }
}

@media screen and (width < 650px){
  #cart_num{
    left: 88px;
    top: 126px;
  }
}
/* Телефоны вертикально */
@media screen and (width >= 320px) and (width < 480px) {
  .TheSearchBar > form {
    width: 100%;
  }

  /* Настройка размера блока картинки */
  .Guitars > .guitar > .photo {
    max-width: 320px;
    max-height: 400px;
  }
  .Guitars > .guitar > .photo > img{
    width: 100%;
    height: 100%;
    object-fit:scale-down;
  }
  .Guitars{
    justify-content: center;
    flex-basis: 80%;
    display: grid;
    grid-gap: 50px;
  }
  .Guitars > .guitar{
    max-height: 600px;
    max-width: 280px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-top: 20px;

    border: solid;
    border-color: white;
  }
  .TheSearchBar > form > input {
    padding-left: 0;
  }

  /* Распололжение гитар и фильтров в строку */
  .GuitarsAndFilters{
    display: flex;
    flex-direction: column-reverse;
  }
  .Filters > .ChooseStrings > .Choose{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .Filters > .ChooseStrings {
    margin-bottom: 30px;
  }
  .Filters{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Filters > .ChooseStrings {
    width: 100%;
  }
  .Filters{
    border-top: solid;
    border-color: white;
  }
  .Guitars > .guitar > .text-about-guitar > p{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    margin: 0;
  }
  .buy > .addtobasket{
    font-size: 20px;
  }
  .wrapper{
    width: 250px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
  }
  .wrapper > h2{
    font-size: 24px;
    font-weight: 600;
    align-self: center;
  }

  .price-input{
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
  }
  .price-input .field{
    display: flex;
    width: 100%;
    height: 45px;
    justify-content: center;
    align-items: center;
  }
  .field input{
    width: 30%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    background: #F5F5F5;
  }
  .price-input .separator{
    width: 80px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }
  .slider{
    height: 5px;
    position: relative;
    background: #F5F5F5;
    border-radius: 5px;
  }
  .slider .progress{
    height: 80%;
    left: 16px;
    right: 0px;
    position: absolute;
    background: #17A2B8;
  }
  .range-input{
    position: relative;
  }
  .range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -9px;
    background: none;
    pointer-events: none;
    /* без нее полоска накроется серым цветом */
    -webkit-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #17A2B8;
    /* без этого нельзя схватить ползунок */
    pointer-events: auto;
    /* без этого накроет ползунки серым фильтром */
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }
}
